/* 
My first attempt at writing CSS, so it's pretty terrible
*/ 


* {
    font-family:Verdana, Geneva, sans-serif; 
    color: #EEF2F0; 
   }

body {
    background: #334d5c
;
}

.page_header {
    padding-top: 2vh;
    padding-bottom:5vh; 
    padding-left:5vw;
    background:#1e5d88;
}

.head_img {
    width:25vh;
    padding-top:2vh; 
    padding-right:5vw;
    float:right;
}

.body_text {
    float:left;
    left:5vw; 
    padding-left:5vw; 
    width:45vw;
    padding-right:2vw
}

.body_img {
    float:left; 
    width:44vw; 
}

#ribbon {
    background:#3A9383; 
    clear:both; 
} 

.dropdown_menu {
    border:5px; 
    position:relative;
}

.ribbon_button {
    border:0px; 
    height:41px;
    background:#3A9383;
    font-weight:bold; 
    font-size: 1.5vw;
    display:inline-table
}

.ribbon_button:hover {
    background:#238171; 
    cursor:pointer; 
}

table tr td { /* table formatting */ 
    padding:0.5em; 
    padding-left:1em; 
    padding-right:2em;
}
